/* Grundlegende Stile für den Body-Bereich */
body {
	background-color: var(--background-color);
}

/* Haupt-Wrapper für die gesamte Seite, stellt sicher, dass der Footer unten bleibt */
.site-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Allgemeine Stile für Kopf- und Fußzeile */
.site-header,
.site-footer {
	padding: var(--size-fluid-3);
	background-color: var(--blue-9);
}

/* Spezifische Stile für die Kopfzeile */
.site-header {
	background: linear-gradient(to right, #fbc2eb, #a6c1ee);
	color: #333;
	padding: 1rem 2rem;
	color: white;
	padding: 1rem 2rem;
	color: white;
	padding: 1rem 2rem;
	color: var(--heading-color);
	display: flex;
	align-items: center;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	display: flex;
	justify-content: space-around;
	width: 100%;
	/* Titel innerhalb der Kopfzeile */
	.site-header__title {
		font-family: var(--font-karla);
		font-size: 3rem;
		font-weight: bold;
		display: flex;
		align-items: center;
	}
}

/* Stile für die Hauptnavigation */
.main-navigation {
	display: flex;
	justify-content: space-between;
}

/* Container für den Hauptinhalt der Seite */
.site-content {
	flex: 1;
}

/* Allgemeine Stile für den 'main'-HTML-Tag */
main {
	padding: var(--size-fluid-2);
	p {
		max-width: 60ch;
	}
}

/* Spezifische Stile für die Fußzeile */
.site-footer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

/* Standard-Layout-Klasse für zentrierten Inhalt mit maximaler Breite */
.default-layout {
	max-width: 56rem;
	padding-inline: 1rem;
	margin-inline: auto;
}

/* Layout-Klasse für Seiten mit einer Sidebar */
.sidebar-layout {
	max-width: 70rem;
	margin-inline: auto;
	display: grid;
	@media (--large) {
		grid-template-columns: 1fr 20rem;
	}

	/* Stile für die Sidebar innerhalb des Sidebar-Layouts */
	:where(.sidebar-layout__sidebar) {
		padding: var(--size-fluid-2);
		@media (--large) {
			margin-top: var(--size-fluid-2);
			align-self: start;
			border-inline-start: 2px solid currentColor;
		}
		@media (--small-medium) {
			border-block-start: 2px solid currentColor;
		}
	}
}

/* Allgemeine Klasse für Rasterlayouts */
.grid {
	display: var(--grid-display, grid);
	grid-template-columns: repeat(
		var(--grid-columns, auto-fill),
		minmax(min(var(--grid-min-width, 15rem), 100%), 1fr)
	);
	gap: var(--grid-gap, 1rem);
}

/* Klasse für zentrierten Grundtext */
.grund-text {
	text-align: center;
}

/* Stile für den Willkommensbereich */
.willkommen {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Stile für den Willkommenstext */
.willkommen-text {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Stile für den Anmelde-Button-Container */
.signin-button {
	margin: 5px;
}
