body {
	background-color: var(--background-color);
}

.site-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-header,
.site-footer {
	padding: var(--size-fluid-3);
	/* background-color: var(--header-footer-background); */
	background-color: var(--blue-9);
}

.site-header {
	background: linear-gradient(
		to right,
		#fbc2eb,
		#a6c1ee
	); /* рожево-блакитний перелив */
	color: #333;
	padding: 1rem 2rem;
	color: white;
	padding: 1rem 2rem;
	color: white;
	padding: 1rem 2rem;
	color: var(--heading-color);
	display: flex;
	align-items: center;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	display: flex;
	justify-content: space-around;
	width: 100%;
	.site-header__title {
		font-family: var(--font-karla);
		font-size: 3rem;
		font-weight: bold;
		display: flex;
		align-items: center;
	}
}
.main-navigation {
	display: flex;
	justify-content: space-between;
}
.site-content {
	flex: 1;
}

main {
	padding: var(--size-fluid-2);
	p {
		max-width: 60ch;
	}
}

.site-footer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.default-layout {
	max-width: 56rem;
	padding-inline: 1rem;
	margin-inline: auto;
}

.sidebar-layout {
	max-width: 70rem;
	margin-inline: auto;
	display: grid;
	@media (--large) {
		grid-template-columns: 1fr 20rem;
	}

	:where(.sidebar-layout__sidebar) {
		padding: var(--size-fluid-2);
		@media (--large) {
			margin-top: var(--size-fluid-2);
			align-self: start;
			border-inline-start: 2px solid currentColor;
		}
		@media (--small-medium) {
			border-block-start: 2px solid currentColor;
		}
	}
}

.grid {
	display: var(--grid-display, grid);
	grid-template-columns: repeat(
		var(--grid-columns, auto-fill),
		minmax(min(var(--grid-min-width, 15rem), 100%), 1fr)
	);
	gap: var(--grid-gap, 1rem);
}
.grund-text {
	text-align: center;
}
.willkommen {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.willkommen-text {
	margin-top: 0px;
	margin-bottom: 0px;
}
.signin-button {
	margin: 5px;
}
