a {
	/* color: var(--link-color); */
	&:hover,
	&:focus-visible {
		color: var(--active-link-color);
	}
}

.main-navigation {
	text-transform: uppercase;
	font-family: var(--font-karla);
	margin-inline-start: auto;
	position: relative;
	z-index: 40;
	width: 100vw;
	padding: 0px;
	margin: 0px;

	.main-navigation__button {
		display: flex;
		align-items: center;
		font-size: 1rem;
		padding: 0.25rem 0.5rem;
		/* background-color: var(--honeydew); */
		background-color: var(--blue-12);
		/* color: var(--link-color); */
		color: white;
		box-shadow: var(--shadow-4);
		border: 1px solid black;
		border-radius: 10px;
		/* margin-bottom: 10px; */
		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
		&:hover,
		&:focus-visible {
			color: var(--active-link-color);
		}
	}

	.main-navigation__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
		/* background-color: palegoldenrod; */
		background-color: rgba(0, 255, 242, 0.774);
		gap: 0.5em;
		padding: var(--size-fluid-3);
		margin: 0;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		/* width: 100vw; */
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 15px;
	}

	.main-navigation__link {
		text-decoration: none;
		transition: color 0.5s ease;
		font-size: 2rem;
		&.main-navigation__link--current,
		&[aria-current='page'],
		&:hover,
		&:focus {
			color: white;
			/* color: black; */
		}
	}
}
.main-navigation__logo {
	margin-left: 20px;
	color: white;
	text-decoration: none;
	background: linear-gradient(to right, #ff6a00, #ee0979);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 35px;
	font-style: italic;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.user-info {
	margin-right: 20px;
}

.unread-messages-button {
	margin: 10px;
	color: white;
}
.avatar-container {
	width: 32px;
	height: 32px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 0.5rem; /* аналог mr-2 */
}
.user-greeting {
	margin-right: 1rem; /* аналог mr-4 */
	font-size: 0.875rem; /* аналог text-sm */
	color: black;
}
.user-actions-container {
	display: flex;
	align-items: center;
	margin-right: 1%;
}
.site-nav__tagline {
	font-size: 30px;
	font-style: italic;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main-navigation__link {
	color: gray;
}
.button-delete-profile {
	background-color: red;
	color: black;
}
.button-delete-profile:hover {
	color: gray;
}
