/* Container für den Hauptinhalt des Benutzerprofils */
.profile-container {
	position: relative;
	max-width: 42rem;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

/* Container für das Profilbild */
.profile-image-container {
	position: relative;
	width: 100%;
	overflow: hidden;
}
